body{
    margin: 0;
    background-color:  #E5E5E5;
    padding-left: 285px;
    padding-right: 285px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    ;
}
.blue{
    color:#562EFF;
}
header{
    background-color:#FFFFFF;
    padding: 33px;

}
/* header section style */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
    
}
.player img{
    height: 56px;
    margin-right: 16px;
    margin-left: 16px;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
    border: #D1D1D1 1px solid ;
}
/* blog section */
.top-blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
}
.blog{
    display: flex;   
}
.blog img{
    width: 224px;
    height: 127px;
    margin-right: 16px; 
}

/* course style */
.courses{
    margin-top: 22px;
    margin-bottom: 22px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color:#FFFFFF;
    padding: 33px;
    column-gap: 26px;
}
.course img{
    width: 224px;
    height: 104px;
    
}
.course-info{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.course-duration{
    background-color:#FF4A60;
    border-radius: 20px;
    padding: 3px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.field{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}

/* media Query style */
@media only screen and (max-width:688px) {
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .top-blog, .courses{
        display: none;
    }
}
